<ion-header>
  <ion-navbar>
    <ion-title>Vídeos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card>
    <iframe src="https://player.vimeo.com/video/198876930" width="320" height="240" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <h2>Reggae por instrumentos</h2>
  </ion-card>

  <ion-card>
    <iframe src="https://player.vimeo.com/video/198876893" width="320" height="240" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <h2>Funky-maksum por instrumentos</h2>
  </ion-card>

  <ion-card>
    <iframe src="https://player.vimeo.com/video/198876963" width="320" height="240" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <h2>Timbalada por instrumentos</h2>
  </ion-card>

  <!--<div padding *ngFor="let video of videos">
    <h3>{{video.title}}</h3>
    <div>{{video.embedHtml}}</div>
  </div>

  <div padding *ngFor="let iframe of iframes">
    <div [innerHTML]="iframe.html"></div>
  </div>-->
  
</ion-content>
